{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/title_page.css' %}">
{% endblock %}

{% block content %}

    <div class="center_title">
        <p class="mainH">Darbuka!</p>
        <p>Language learning clone of babadum.com
            
        </p>
        <p class="menuText">
            <a href="{% url 'game:play_us' %}">US - </a> 
            <a href="{% url 'game:play_uk' %}">UK -</a> 
            <a href="{% url 'game:play_tr' %}">Turkish - </a>
            <a href="{% url 'game:play_ar' %}">Arabic</a>
            <a href="{% url 'game:play_az' %}">Azeri</a>
            <a href="{% url 'game:play_ur' %}">Urdu</a>
        </p>
    </div>

{% endblock content %}