{% load static %}
<div id="page-section">
    <table class="table table-success table-striped">
        <thead>
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Username</th>
              <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            
        {% for user in user_scores %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><img src="" height=""> {{ user.user_name|capfirst }}</td>
            <td>{{ user.points }}</td>
        </tr>  
        {% endfor %}
        </tbody>
    </table> 

    <!-- Boostrap Solution to Pagination buttons -->
    <nav>
        {% include "game/partials/top10nav.html" %}
    </nav>
</div>