{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/game_css.css' %}">{% endblock %}


{% block content %}
    <div class="boxes">
    <div class="one box_cont"><img src="{% static '/images/media/' %}{{word1.image}}" alt=""></div>
    <div class="two box_cont"><img src="{% static '/images/media/' %}{{word2.image}}" alt=""></div>
    <div class="three box_cont"><img src="{% static '/images/media/' %}{{word3.image}}" alt=""></div>
    <div class="four box_cont"><img src="{% static '/images/media/' %}{{word4.image}}" alt=""></div>
    {% if user.is_authenticated %}
        <div class="overlay score_text">
            {{glo_score}} (<img src="{{flag}}" alt="">{{lan_score}} )
        </div>
    {% endif %}
    <div class="centre_text">{{clue|title}}</div>
{% endblock content %}
