{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/game_css.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/popups.css' %}">
{% endblock %}


{% block content %}
    <div class="boxes">
    <div class="one box_cont " id="boxOne" style="background-color: beige;">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word1}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <input type="hidden" name="flag" value="{{flag}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word1.image}}" 
            id="{{word1}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="#score_div"
            hx-swap="innerHTML"
            hx-swap-oob="true">
        </form>
    </div>
    <div class="two box_cont " id="boxTwo" style="background-color: beige;">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word2}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <input type="hidden" name="flag" value="{{flag}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word2.image}}" id="{{word2}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="#score_div"
            hx-swap="innerHTML"
            hx-swap-oob="true">
        </form></div>
    <div class="three box_cont " id="boxThree" style="background-color: beige;">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word3}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" name="flag" value="{{flag}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word3.image}}" id="{{word3}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="#score_div"
            hx-swap="innerHTML"
            hx-swap-oob="true">
    </form></div>
    <div class="four box_cont " id="boxFour">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word4}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <input type="hidden" name="flag" value="{{flag}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word4.image}}" id="{{word4}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="#score_div"
            hx-swap="innerHTML"
            hx-swap-oob="true">
        </form>
    </div>
    <div class="overlay score_text" id="score_div">
        <img src="{% static 'images/globe.png' %}" width="55px"/>
        {{glo_score}} (<img src="{{flag}}" width="45px" alt="">{{lan_score}} )
    </div>
    <div class="centre_text">{{clue|title}}</div>
    
    <div class="dropstart language_overlay">
        <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" 
            aria-expanded="false" >
            <img src="{% static 'images/icons8-translate-96.png' %}" alt=""> 
        </span>
        <div >
            <div class="dropdown-menu">
              <a href="{% url 'game:play_uk' %}"><img src="{% static 'images/uk.svg' %}" width="55px"/></a> 
              <a href="{% url 'game:play_us' %}"><img src="{% static 'images/us.svg' %}" width="55px"/></a>
              <a href="{% url 'game:play_tr' %}"><img src="{% static 'images/tr.svg' %}" width="50px"/></a>
              <a href="{% url 'game:play_az' %}"><img src="{% static 'images/az.svg' %}" width="50px"/></a>
              <a href="{% url 'game:play_ur' %}"><img src="{% static 'images/pk.svg' %}" width="50px"/></a>
              <a href="{% url 'game:play_ar' %}"><img src="{% static 'images/palestine.svg' %}" width="55px"/></a>
            </div>
        </div>
    </div>

    <div class="dropend menu_overlay">
        <span class="dropdown-toggle" type="button" data-bs-toggle="dropdown" 
            aria-expanded="false" >
            <img src="{% static 'images/circled-menu.png' %}" alt=""> 
        </span>
        <div >
            <div class="dropdown-menu">
              <a href="{% url 'profiles:home' %}"><img src="{% static 'images/icons8-home-page-64.png' %}" width="55px"/>Home</a> <br>
              <a href="{% url 'game:high_scores' %}"><img src="{% static 'images/icons8-scoreboard-64.png' %}" width="55px"/>High Scores</a> <br>
              <a href="{% url 'game:word_stats' %}"><img src="{% static 'images/icons8-area-chart-64.png' %}" width="50px"/>Statistics</a> <br>
              <a href="{% url 'game:attribution' %}"><img src="{% static 'images/icons8-autumn-64.png' %}" width="55px"/>Credits</a> <br>
              <a href="{% url 'logout' %}"><img src="{% static 'images/icons8-sign-out-64.png' %}" width="55px"/>Log out</a>
            </div>
        </div>
    </div>

    <!-- success / fail popup -->
    <div class="correct-popup">
        <div class="popup-content">
          <img src="{% static 'images/arm.png' %}" alt="">
          <p>CORRECT</p>
        </div>
    </div>
    <div class="incorrect-popup">
        <div class="popup-content">
          <p>Wrong! <br> The correct answer was <b>{{clue}}</b>!
          <img src="{% static '/images/tiles/' %}{{clue.image}}">
        </p>
        </div>
    </div>
{% endblock content %}

{% block js%}
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/randomise_colours.js' %}"></script>
    <script>
        change_colours();
    </script>
{% endblock %}