{% extends 'base.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'css/game_css.css' %}">{% endblock %}


{% block content %}
    <div class="boxes">
    <div class="one box_cont ">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word1}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word1.image}}" 
            id="{{word1}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="">
        </form>
    </div>
    <div class="two box_cont ">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word2}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word2.image}}" id="{{word2}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="">
        </form></div>
    <div class="three box_cont ">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word3}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word3.image}}" id="{{word3}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="">
    </form></div>
    <div class="four box_cont ">
        <form method="POST">
            <input type="hidden" id="word" name="word" value="{{word4}}">
            <input type="hidden" id="clue" name="clue" value="{{clue}}">
            <input type="hidden" id="language" name="language" value="{{language}}">
            <img class="img_helper" src="{% static '/images/tiles/' %}{{word4.image}}" id="{{word4}}"
            hx-post="{% url 'game:checka' %}"
            hx-target="">
        </form>
    </div>
    {% if user.is_authenticated %}
        <div class="overlay score_text">
            <img src="https://img.icons8.com/color/48/null/globe--v1.png"/>
            {{glo_score}} (<img src="{{flag}}" alt="">{{lan_score}} )
        </div>
    {% endif %}
    <div class="centre_text">{{clue|title}}</div>
{% endblock content %}
