{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/title_page.css' %}">
{% endblock %}


{% block content %}
    <h1><a href="{% url 'profiles:home' %}"><img src="{% static 'images/icons8-home-page-64.png' %}" width="55px"/></a> <br> High Scores</h1>

    <h2>Total</h2>
    <div id="page-section">
        <table class="table table-success table-striped">
            <thead>
                <tr>
                  <th scope="col">Rank</th>
                  <th scope="col">Username</th>
                  <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                
            {% for user in user_scores %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td><img src="" height=""> {{ user.user_name|capfirst }}</td>
                <td>{{ user.points }}</td>
            </tr>  
            {% endfor %}
            </tbody>
            </table> 
        <!-- Boostrap Solution to Pagination buttons -->
        <nav>
            {% include "game/partials/top10nav.html" %}
        </nav>
    </div>


{% endblock content %}

{% block js%}{% endblock %}