{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/title_page.css' %}">
{% endblock %}


{% block content %}
    <h1>Statistics</h1>

    <h2>All Answers</h2>
    <ul class="list-group">
        <li class="list-group-item">
            👍 {{correct.total}} ({{corr_per}} %)
        </li>
        <li class="list-group-item">
            👎 {{incorrect.total}} ({{inCorr_perc}} %)
        </li>
    </ul>
  

    <h2>Languages</h2>
    <ul class="list-group">
        {% for d in stats.items %}
        <li class="list-group-item">
            
                <div class="col" style="width: {{d.1.perOfTotalQs}}% "> 
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width:  {{d.1.correctAnswers}}%" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            
            <div class="row">
                {{d.1.language}} - {{d.1.attempts}} (👍{{d.1.correctAnswers}}% )
            </div>                
        </li>  
        {% endfor %}
    </ul>
    
  
    
    
    <div class="row">
        <div class="col-6">
            <h2>Easiest Words</h2>
            {% for word in awe.all %}
            <div class="row">
                <div class="col-4">
                    <img src="{% static '/images/tiles/' %}{{word.image}}" width="100%">
                </div>
                <div class="col-8">
                    <p>{{word.language|upper}} {{word.word|title}}</p>
                    <p>👍 {{word.perc}}% of {{word.frequency}} attempts</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-6">
            <h2>Hardest Words</h2>
            {% for word in awh.all %}
            <div class="row">
                <div class="col-4">
                    <img src="{% static '/images/tiles/' %}{{word.image}}" width="100%">
                </div>
                <div class="col-8">
                    <p>{{word.language|upper}} {{word.word|title}}</p>
                    <p>👍 {{word.perc}}% of {{word.frequency}} attempts</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


{% endblock content %}

{% block js%}{% endblock %}